.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 500px;
  background-color: #f2f2f2;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.hero picture {
  position: absolute;
  z-index: 1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 55%;
  height: 100%;
  float: right;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero .hero-block.div:first-child {
  width: 45%;
}

body > main > div.section.hero-container > div > div > div:nth-child(1) {
  width: 40%;
  margin: 16px;
}